Body{
    background-image:url(bgimg.jpg);
    background-size: cover;
}

.BodyTitle{
    font-family: cursive;
    color: rgb(123, 189, 79);
    text-align: center;
    font-size: 40px;
}

.Avatar{
    border-radius: 75px;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(44, 160, 112);
}

.Intro{
    font-family: cursive;
    color: rgba(16, 47, 96, 0.683);
    text-align: center;
    font-size: 20px;
}

.intrestListDiv{
    text-align: center; 
}

.intrestList{
    display: inline-block;
    text-align: left;
    color: rgb(88, 112, 126);
    font-size: 18px;
}

.socialsDiv{
    text-align: center;
}

.socialText{
    font-family: cursive;
    color: rgba(16, 47, 96, 0.683);
    font-size: 20px;
    margin-bottom: -10px;

}

.socials{
    display: inline-block;
    text-align: left;
    color: rgb(88, 112, 126);
    font-size: 18px;
}

.col-lg-6{
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}

.alert-danger{
    border: 10px;
    border-style:double;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    font-family: cursive;
    width: 200px
   
}